.main {
    float: left;
}

.selected-items {
    float: right;
    width: 200px;
    max-height: 400px;
    overflow: auto;
}

.selected-items > h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.selected-items > table {
    margin-top: 12px;
}

ul {
    padding: 0;
    list-style-type: none;
    cursor: default;
}

ul li {
    background: lightblue;
    width: 200px;
    padding: 5px;
    margin-bottom: 1px;
}

ul li.selected {
    background: LightCoral;
}
